// Colours taken from FT Online Colour Pallette in style guide at https://docs.google.com/a/ft.com/file/d/0B06OnV5xs-Bud0ExUzlxV0xpU1k/edit

// Incomplete, needs cleanup.


$ft-pink: #FFF1E0 ;
$ft-grey: #E9DECF ;
$ft-grey-darker: #D9CDBE ;
$ft-grey-darkest: #A7A59B ;

$grey-text: #43423E ;

$ft-link: #2E6E9E ;
$ft-link-hover: #000 ;


$ft-claret: #9E2F50 ;

$ft-tint-1: #f6e9d8 ;
$ft-tint-2: #e9decf ;
$ft-tint-3: #cec6b9 ; // Text only

// Greys
$warm-grey-1: #a7a59b ;
$warm-grey-2: #74736c ;
$cool-grey-1: #777777 ;
$cool-grey-2: #dfded8 ;

$red: #d17c70;
$claret-fill: #e3dfca ;
$eggplant: #936971 ;
$platinum: #c1b8b4 ;

$skyline-colour: #e3dfca ;

$blue: #4781a9 ;

$exports: #d17c70 ;
$exports-highlight: #b1493f ;
$imports: #8ab5cd ;
$imports-highlight: #598caf ;