@import "compass";
@import "reset";

* {
  @include box-sizing(border-box) ;
}

html, body {
  width: 100% ;
  height: 100% ;
  margin: 0 ;
  font-family: BentonSans ;
}

#map {
  width: 100% ;
  height: 100% ;
  background: #FFF1E0 ;
  border: 1px solid #e9decf ;
}


#legend {
  background-color: #FFF1E0 ;
  border: 1px solid #e9decf ;
  padding: 8px ;
  @include box-shadow(1px 1px 2px rgba(0,0,0,0.1)) ;
  @include border-radius(6px) ;
  &> div {
    font-size: 11px ;
    &> span {
      @include border-radius(100px) ;
      width: 8px ;
      height: 8px ;
      display: inline-block ;
      vertical-align: middle ;
      margin-right: 8px ;
      &.abandoned-stn { background-color: #c36256 ; }
      &.active-stn { background-color: #736e7e ; }
    }
  }
}
